ignore-workspace-root-check=true
package-manager-strict=false

# make typescript happy
shamefully-hoist=true

# electron@22.3.27 with Flash support
strict-ssl=false
electron_mirror=https://github.com/Alex313031/electron-22/releases/download/
